server:
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/blog
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  web:
    resources:
      static-locations: file:${app.upload.base-dir}/
  mvc:
    static-path-pattern: /assets/**

app:
  jwt:
    secret: change-me-please-use-32bytes-secret-key
    expiration: 3600 # seconds
  upload:
    base-dir: uploads/
  cors:
    allowed-origins:
      - http://localhost:5173
      - http://localhost:5174

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

logging:
  level:
    root: DEBUG
